<body>
    <section class="container-sm">
  <h2 class="text-center mt-5 pb-3" id="titulo">LISTA DE TABLA</h2>

    <table class="table table-hover text-center">
        <thead class="table-dark">
            <tr >
                <th>First Name</th>
                <th>Last Name:</th>
                <th>Email:</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="table-warning">Luz</td>
                <td class="table-warning">Toribio</td>
                <td class="table-warning">edilt.tf@gmail.com</td>
            </tr>
        </tbody>
    </table>
</section>
</body>
